*{
  padding: 0px;
  margin: 0px;
}
.carousel{
  width:100vw;
  height:50vh;
  border:2px solid black;
}
.app{
  border:2px solid red;
  width : 100vw;
  height : 100vh;
}
.outer-car{
  display:flex;
  justify-content: center;
}
